<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/arista_logo.jpg">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />
    <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <title>Your Cart</title>
    <style>
      .button-class{
        display: flex;
        justify-content: center;
      }
      .button-class button{
          /* width: 100%; */
          font-size: 17px;
      }
      .card-body table button{
        border: 1px black;
      }
    </style>
</head>
<body>

<!------------------------------------------------------------------- Navbar starts --------------------------------------------------------------- -->                     
  <div class="container mx-auto p-5">
    <div class="md:flex md:flex-row md:justify-between text-center text-sm sm:text-base">
      <div class="flex flex-row justify-center">
        <div class="rounded-lg">
            <a href="index.html">
                <img
                  class="mx-auto w-48 hover:shadow-lg transition duration-300 ease-in-out"
                  src="images/arista_logo.jpg"
                  alt="logo"
                />
            </a>
        </div>
        <a href="index.html">
            <h1 class="text-3xl text-gray-600 mt-12 ml-14 hover:shadow-lg transition duration-300 ease-in-out hover:text-red-600">Arista Solutions</h1>
        </a>        
      </div>
  
      <div class="mt-14">
        <a href="index.html" class="text-gray-600 hover:text-red-600 p-4 px-3 sm:px-5 hover:shadow-lg transition duration-300 ease-in-out">Home</a>      
        <a href="/view_product" class="text-gray-600 hover:text-red-600 p-4 px-3 sm:px-5 hover:shadow-lg transition duration-300 ease-in-out">Products</a>
        <a href="/about" class="text-gray-600 hover:text-red-600 p-4 px-3 sm:px-5 hover:shadow-lg transition duration-300 ease-in-out">About us</a>      
        <a href="contact.html" class="text-gray-600 hover:text-red-600 p-4 px-3 sm:px-5 hover:shadow-lg transition duration-300 ease-in-out">Contact us</a>
          <a href="/cart" class="mx-4 hover:bg-red-500 bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-red-700  rounded-2xl">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 sm:h-6 sm:w-6 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
            Your Cart</a>
      </div>
    </div>
  </div>  
<!------------------------------------------------------------------- Navbar ends --------------------------------------------------------------- -->                     
<div class="col-md-4 mx-72 mt-14" style="width: 79%;margin-left: 10.5%;">
    <div class="card" style="border:none">
        <div class="card-header" style="background-color: #89c6ff;border-radius: 40px;padding: 40px;font-size: 50px;color: #033156;"><b>Shopping Cart</b></div>
        <div class="card-body" style="
        background-color: #e2f1ff;
        margin-top: 20px;
        border-radius: 28px;">
            <table class="table">
                
                <tr>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                    <th>Remove</th>
                </tr>
                <% 
                if (cart.length > 0) {
                    let total = 0;

                    cart.forEach(item => {
                        const itemTotal = parseFloat(item.quantity) * parseFloat(item.price);
                        total += itemTotal;
                %>
                <tr>
                    <td><%= item.name %></td>
                    <td>
                        <div class="quantity-container">
                            <button class="quantity-btn" onclick="changeQuantity('<%= item.id %>', '-')">-</button>
                            <input type="number" id="quantity-<%= item.id %>" class="quantity-input" style="text-align: center;" value="<%= item.quantity %>" data-price="<%= item.price %>">
                            <button class="quantity-btn" onclick="changeQuantity('<%= item.id %>', '+')">+</button>
                        </div>
                    </td>
                    <td><%= item.price %></td>
                    <td><span id="item-total-<%= item.id %>"><%= itemTotal %></span></td>
                    <td>
                        <button class="hover:bg-red-500 bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-red-700 rounded-2xl" onclick="remove_item('<%= item.id %>')">Remove</button>
                    </td>                                                                                   
                </tr>
                <%
                    })
                %>
                <tr>
                    <td colspan="3" align="right"><b>Total</b></td>
                    <td><span id="overall-total"><%= total.toFixed(2) %></span></td>
                    <td>&nbsp;</td>
                </tr>
                <%
                } else {
                %>
                <tr>
                    <td colspan="5" align="center">No Item Found in Cart</td>
                </tr>
                <%
                }
                %>
            </table>
        </div>
    </div>
</div>
<div class="button-class">  
    <button id="rzp-button1" class="w-56 mt-5 inline-block px-6 py-2.5 bg-blue-600 text-white font-medium 
    text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700
    hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none 
    focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150
    ease-in-out" data-mdb-ripple="true" data-mdb-ripple-color="light">Pay with Razorpay</button>  
</div>
</div>

<script>
function remove_item(item_id) {
    if (confirm("Are you sure you want to remove it?")) {
        window.location.href = `/remove_item?id=${item_id}`;
    }
}

function changeQuantity(itemId, operation) {
    const quantityInput = document.querySelector(`#quantity-${itemId}`);
    let quantity = parseInt(quantityInput.value);

    if (operation === '+' && quantity < 99) {
        quantity++;
    } else if (operation === '-' && quantity > 1) {
        quantity--;
    }

    quantityInput.value = quantity;
    updateTotal(itemId);
}

function updateTotal(itemId) {
    const quantityInput = document.querySelector(`#quantity-${itemId}`);
    const itemTotalElement = document.querySelector(`#item-total-${itemId}`);
    const overallTotalElement = document.querySelector("#overall-total");

    const quantity = parseInt(quantityInput.value);
    const price = parseFloat(quantityInput.getAttribute("data-price"));
    const itemTotal = quantity * price;

    itemTotalElement.innerText = itemTotal.toFixed(2);

    let overallTotal = 0;
    const itemTotals = document.querySelectorAll('[id^="item-total-"]');
    itemTotals.forEach(itemTotal => {
        overallTotal += parseFloat(itemTotal.innerText);
    });

    overallTotalElement.innerText = overallTotal.toFixed(2);
}
</script>

<div>
    <a href="/cart" class="mx-4 hover:bg-red-500 bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-red-700  rounded-2xl">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 sm:h-6 sm:w-6 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
            Proceed to Checkout</a>
</div>


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var orderId;
        $(document).ready(function(){
            var settings = {
                "url": "/creat/orderId",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                },
                "data": JSON.stringify({
                    "amount": "50000"
                }),
            };

            document.getElementById('rzp-button1').onclick = function(e){
                var options = {
                    "key": "rzp_test_MTb4gbqL1Kk03S", // Enter the Key ID generated from the Dashboard
                    "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                    "currency": "INR",
                    "name": "Fire Alarm",
                    "description": "Test Transaction Text",
                    "image": "https://example.com/your_logo",
                    "order_id": orderId, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    "handler": function (response){
                        alert(response.razorpay_payment_id);
                        alert(response.razorpay_order_id);
                        alert(response.razorpay_signature)

                        var settings = {
                            "url": "/api/payment/verify",
                            "method": "POST",
                            "timeout": 0,
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "data": JSON.stringify({response}),
                        };
                        //creates new orderId everytime
                        $.ajax(settings).done(function(response){
                            // orderId=response.orderId;
                            // console.log(orderId);
                            // $("button").show();
                            alert(JSON.stringify(response));
                        });
                    },
                    "theme": {
                        "color": "#99cc33"
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.on('payment.failed', function (response){
                        alert(response.error.code);
                        alert(response.error.description);
                        alert(response.error.source);
                        alert(response.error.step);
                        alert(response.error.reason);
                        alert(response.error.metadata.order_id);
                        alert(response.error.metadata.payment_id);
                });
                rzp1.open();
                e.preventDefault();
            }
        });
    </script>
</body>
</html>
